software/logs
software/src/main/resources/META-INF/resources/comker/app/locales/.fuse_hidden0008e9e400000011
software/src/main/resources/META-INF/resources/comker/app/locales/.fuse_hidden0008e9fc00000010
software/src/main/resources/META-INF/resources/comker/lib/i18next/1.7.1/.fuse_hidden0008d8be0000000f
software/target
