* text=auto !eol
software/catalog.xml -text
software/nb-configuration.xml -text
software/nbactions.xml -text
software/pom.xml -text
software/src/main/etc/jetty.xml -text
software/src/main/java/net/cokkee/comker/api/ComkerAuthResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerCrewResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerExceptionMapper.java -text
software/src/main/java/net/cokkee/comker/api/ComkerNavbarResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerPermissionResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerQuestionResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerRoleResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerSpotResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerUserResource.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerAbstractDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerCrewDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerNavbarDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerPermissionDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerRoleDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerSettingDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerSpotDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerUserDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerWatchDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerWatchdogDao.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerSettingDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerWatchDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerWatchdogDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerAbstractException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerAccessDatabaseException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerFieldDuplicatedException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerInvalidParameterException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerObjectDuplicatedException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerObjectNotFoundException.java -text
software/src/main/java/net/cokkee/comker/interceptor/ComkerWatchInterceptor.java -text
software/src/main/java/net/cokkee/comker/interceptor/ComkerWatchdogInterceptor.java -text
software/src/main/java/net/cokkee/comker/model/ComkerExceptionResponse.java -text
software/src/main/java/net/cokkee/comker/model/ComkerHashMap.java -text
software/src/main/java/net/cokkee/comker/model/ComkerObject.java -text
software/src/main/java/net/cokkee/comker/model/ComkerPager.java -text
software/src/main/java/net/cokkee/comker/model/ComkerSessionInfo.java -text
software/src/main/java/net/cokkee/comker/model/ComkerStatus.java -text
software/src/main/java/net/cokkee/comker/model/ComkerUserDetails.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAbstractItem.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAnswer.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrew.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinGlobalRole.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinGlobalRolePk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinRoleWithSpot.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinRoleWithSpotPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerModule.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerNavbarNode.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerPermission.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerQuestion.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRole.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRoleJoinPermission.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRoleJoinPermissionPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingEntry.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingEntryPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingKey.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpot.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpotJoinModule.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpotJoinModulePk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUser.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUserJoinCrew.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUserJoinCrewPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerWatchLog.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationEntryPoint.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationFailureHandler.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationHelper.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationSuccessHandler.java -text
software/src/main/java/net/cokkee/comker/service/ComkerInitializationService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerSecurityService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerSessionService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerStorageManager.java -text
software/src/main/java/net/cokkee/comker/service/ComkerToolboxService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerUserDetailsService.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerSecurityServiceImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerStorageManagerImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerToolboxServiceImpl.java -text
software/src/main/java/net/cokkee/comker/structure/ComkerKeyAndValueSet.java -text
software/src/main/java/net/cokkee/comker/util/ComkerAddHeaderFilter.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBeanPostProcessor.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapEvent.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapInitializer.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapPublisher.java -text
software/src/main/resources/META-INF/bootstrap/comker/attachment-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/cxf-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/dao-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/interceptor-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/orm-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/resource-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/security-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/service-context.xml -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/common.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/crew.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/navbar.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/permission.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/role.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/spot.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/en/user.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/common.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/crew.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/navbar.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/permission.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/role.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/spot.json -text
software/src/main/resources/META-INF/resources/comker/app/locales/vi/user.json -text
software/src/main/resources/META-INF/resources/comker/app/models/authCredentials.js -text
software/src/main/resources/META-INF/resources/comker/app/models/crewCollection.js -text
software/src/main/resources/META-INF/resources/comker/app/models/crewObject.js -text
software/src/main/resources/META-INF/resources/comker/app/models/permissionCollection.js -text
software/src/main/resources/META-INF/resources/comker/app/models/permissionObject.js -text
software/src/main/resources/META-INF/resources/comker/app/models/roleCollection.js -text
software/src/main/resources/META-INF/resources/comker/app/models/roleObject.js -text
software/src/main/resources/META-INF/resources/comker/app/models/spotCollection.js -text
software/src/main/resources/META-INF/resources/comker/app/models/spotObject.js -text
software/src/main/resources/META-INF/resources/comker/app/models/userCollection.js -text
software/src/main/resources/META-INF/resources/comker/app/models/userFilter.js -text
software/src/main/resources/META-INF/resources/comker/app/models/userObject.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/authRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/crewRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/homeRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/permissionRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/roleRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/spotRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/routers/userRouter.js -text
software/src/main/resources/META-INF/resources/comker/app/templates/auth-login.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/collection-layout.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/crew-list-item.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/crew-list-toolbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/home.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/navbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/permission-list-item.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/permission-list-toolbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/role-create-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/role-delete-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/role-list-item.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/role-list-toolbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/role-update-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/spot-list-item.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/spot-list-toolbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-create-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-delete-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-detail-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-filter-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-list-item.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-list-toolbar.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/templates/user-update-form.tmpl -text
software/src/main/resources/META-INF/resources/comker/app/views/authLoginView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/collectionLayoutView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/crewCollectionView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/crewObjectView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/homeView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/navbarView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/permissionCollectionView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/permissionObjectView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/roleCollectionView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/roleObjectView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/spotCollectionView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/spotObjectView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/userCollectionView.js -text
software/src/main/resources/META-INF/resources/comker/app/views/userObjectView.js -text
software/src/main/resources/META-INF/resources/comker/css/auth-screen.css -text
software/src/main/resources/META-INF/resources/comker/css/crew-screen.css -text
software/src/main/resources/META-INF/resources/comker/css/main-screen.css -text
software/src/main/resources/META-INF/resources/comker/css/role-screen.css -text
software/src/main/resources/META-INF/resources/comker/css/spot-screen.css -text
software/src/main/resources/META-INF/resources/comker/css/user-screen.css -text
software/src/main/resources/META-INF/resources/comker/index.html -text
software/src/main/resources/META-INF/resources/comker/lib/backbone.localStorage/1.1.0/backbone.localStorage.js -text
software/src/main/resources/META-INF/resources/comker/lib/backbone/1.0.0/backbone.js -text
software/src/main/resources/META-INF/resources/comker/lib/backbone/1.1.0-amdjs/backbone-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/backbone/1.1.0-amdjs/backbone.js -text
software/src/main/resources/META-INF/resources/comker/lib/backbone/1.1.0/backbone-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/backbone/1.1.0/backbone.js -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/css/bootstrap-responsive.css -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/css/bootstrap-responsive.min.css -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/css/bootstrap.css -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/css/bootstrap.min.css -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/img/glyphicons-halflings-white.png -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/img/glyphicons-halflings.png -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/js/bootstrap.js -text
software/src/main/resources/META-INF/resources/comker/lib/bootstrap/js/bootstrap.min.js -text
software/src/main/resources/META-INF/resources/comker/lib/i18next/1.7.1/i18next-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/i18next/1.7.1/i18next.js -text
software/src/main/resources/META-INF/resources/comker/lib/jquery/1.10.2/jquery-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/jquery/1.10.2/jquery.js -text
software/src/main/resources/META-INF/resources/comker/lib/jquery/1.8.3/jquery.js -text
software/src/main/resources/META-INF/resources/comker/lib/json2/1.0.0/json2.js -text
software/src/main/resources/META-INF/resources/comker/lib/log4javascript/1.4.6/log4javascript.js -text
software/src/main/resources/META-INF/resources/comker/lib/qunit/1.12.0/qunit-1.12.0.css -text
software/src/main/resources/META-INF/resources/comker/lib/qunit/1.12.0/qunit-1.12.0.js -text
software/src/main/resources/META-INF/resources/comker/lib/require/2.1.10/require.js -text
software/src/main/resources/META-INF/resources/comker/lib/require/2.1.10/require.min.js -text
software/src/main/resources/META-INF/resources/comker/lib/sinon/1.7.1/sinon-1.7.1.js -text
software/src/main/resources/META-INF/resources/comker/lib/sinon/1.7.1/sinon-ie-1.7.1.js -text
software/src/main/resources/META-INF/resources/comker/lib/sinon/1.7.1/sinon-server-1.7.1.js -text
software/src/main/resources/META-INF/resources/comker/lib/sinon/1.7.1/sinon-timers-1.7.1.js -text
software/src/main/resources/META-INF/resources/comker/lib/sinon/1.7.1/sinon-timers-ie-1.7.1.js -text
software/src/main/resources/META-INF/resources/comker/lib/underscore/1.4.3/underscore.js -text
software/src/main/resources/META-INF/resources/comker/lib/underscore/1.5.2-amdjs/underscore-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/underscore/1.5.2-amdjs/underscore.js -text
software/src/main/resources/META-INF/resources/comker/lib/underscore/1.5.2/underscore-min.js -text
software/src/main/resources/META-INF/resources/comker/lib/underscore/1.5.2/underscore.js -text
software/src/main/resources/META-INF/resources/comker/loader.js -text
software/src/main/resources/META-INF/resources/comker/startup.js -text
software/src/main/resources/META-INF/resources/comker/utils.js -text
software/src/main/resources/META-INF/web-fragment.xml -text
software/src/main/webapp/META-INF/MANIFEST.MF -text
software/src/main/webapp/META-INF/context.xml -text
software/src/main/webapp/WEB-INF/application-context.xml -text
software/src/main/webapp/WEB-INF/jdbc.properties -text
software/src/main/webapp/WEB-INF/log4j.properties -text
software/src/main/webapp/WEB-INF/log4j.xml -text
software/src/main/webapp/WEB-INF/web.xml -text
software/src/main/webapp/api/css/highlight.default.css -text
software/src/main/webapp/api/css/screen.css -text
software/src/main/webapp/api/images/logo_small.png -text
software/src/main/webapp/api/images/pet_store_api.png -text
software/src/main/webapp/api/images/throbber.gif -text
software/src/main/webapp/api/images/wordnik_api.png -text
software/src/main/webapp/api/index.html -text
software/src/main/webapp/api/lib/backbone-min.js -text
software/src/main/webapp/api/lib/handlebars-1.0.0.js -text
software/src/main/webapp/api/lib/highlight.7.3.pack.js -text
software/src/main/webapp/api/lib/jquery-1.8.0.min.js -text
software/src/main/webapp/api/lib/jquery.ba-bbq.min.js -text
software/src/main/webapp/api/lib/jquery.slideto.min.js -text
software/src/main/webapp/api/lib/jquery.wiggle.min.js -text
software/src/main/webapp/api/lib/shred.bundle.js -text
software/src/main/webapp/api/lib/shred/content.js -text
software/src/main/webapp/api/lib/swagger.js -text
software/src/main/webapp/api/lib/underscore-min.js -text
software/src/main/webapp/api/swagger-ui.js -text
software/src/main/webapp/api/swagger-ui.min.js -text
software/src/main/webapp/comker/login.jsp -text
