* text=auto !eol
comker-core/catalog.xml -text
comker-core/nb-configuration.xml -text
comker-core/nbactions.xml -text
comker-core/pom.xml -text
comker-core/src/main/etc/jetty.xml -text
comker-core/src/main/java/net/cokkee/comker/api/ComkerExceptionMapper.java -text
comker-core/src/main/java/net/cokkee/comker/api/ComkerQuestionResource.java -text
comker-core/src/main/java/net/cokkee/comker/exception/ComkerAbstractException.java -text
comker-core/src/main/java/net/cokkee/comker/exception/ComkerObjectDuplicatedException.java -text
comker-core/src/main/java/net/cokkee/comker/exception/ComkerObjectNotFoundException.java -text
comker-core/src/main/java/net/cokkee/comker/model/ComkerExceptionResponse.java -text
comker-core/src/main/java/net/cokkee/comker/model/ComkerObject.java -text
comker-core/src/main/java/net/cokkee/comker/model/ComkerStatus.java -text
comker-core/src/main/java/net/cokkee/comker/model/po/ComkerAbstractItem.java -text
comker-core/src/main/java/net/cokkee/comker/model/po/ComkerAnswer.java -text
comker-core/src/main/java/net/cokkee/comker/model/po/ComkerPermission.java -text
comker-core/src/main/java/net/cokkee/comker/model/po/ComkerQuestion.java -text
comker-core/src/main/java/net/cokkee/comker/model/po/ComkerRole.java -text
comker-core/src/main/java/net/cokkee/comker/service/ComkerStorageManager.java -text
comker-core/src/main/java/net/cokkee/comker/service/impl/ComkerStorageManagerImpl.java -text
comker-core/src/main/java/net/cokkee/comker/util/ComkerAddHeaderFilter.java -text
comker-core/src/main/java/net/cokkee/comker/util/ComkerJacksonJaxbJsonProvider.java -text
comker-core/src/main/resources/META-INF/bootstrap/comker/attachment-context.xml -text
comker-core/src/main/resources/META-INF/bootstrap/comker/cxf-context.xml -text
comker-core/src/main/resources/META-INF/bootstrap/comker/dao-context.xml -text
comker-core/src/main/resources/META-INF/bootstrap/comker/hibernate-context.xml -text
comker-core/src/main/resources/META-INF/bootstrap/comker/resource-context.xml -text
comker-core/src/main/resources/META-INF/web-fragment.xml -text
comker-core/src/main/webapp/META-INF/MANIFEST.MF -text
comker-core/src/main/webapp/META-INF/context.xml -text
comker-core/src/main/webapp/WEB-INF/application-context.xml -text
comker-core/src/main/webapp/WEB-INF/jdbc.properties -text
comker-core/src/main/webapp/WEB-INF/log4j.properties -text
comker-core/src/main/webapp/WEB-INF/web.xml -text
comker-core/src/main/webapp/api/css/highlight.default.css -text
comker-core/src/main/webapp/api/css/screen.css -text
comker-core/src/main/webapp/api/images/logo_small.png -text
comker-core/src/main/webapp/api/images/pet_store_api.png -text
comker-core/src/main/webapp/api/images/throbber.gif -text
comker-core/src/main/webapp/api/images/wordnik_api.png -text
comker-core/src/main/webapp/api/index.html -text
comker-core/src/main/webapp/api/lib/backbone-min.js -text
comker-core/src/main/webapp/api/lib/handlebars-1.0.0.js -text
comker-core/src/main/webapp/api/lib/highlight.7.3.pack.js -text
comker-core/src/main/webapp/api/lib/jquery-1.8.0.min.js -text
comker-core/src/main/webapp/api/lib/jquery.ba-bbq.min.js -text
comker-core/src/main/webapp/api/lib/jquery.slideto.min.js -text
comker-core/src/main/webapp/api/lib/jquery.wiggle.min.js -text
comker-core/src/main/webapp/api/lib/shred.bundle.js -text
comker-core/src/main/webapp/api/lib/shred/content.js -text
comker-core/src/main/webapp/api/lib/swagger.js -text
comker-core/src/main/webapp/api/lib/underscore-min.js -text
comker-core/src/main/webapp/api/swagger-ui.js -text
comker-core/src/main/webapp/api/swagger-ui.min.js -text
