* text=auto !eol
software/catalog.xml -text
software/nb-configuration.xml -text
software/nbactions.xml -text
software/pom.xml -text
software/src/main/etc/jetty.xml -text
software/src/main/java/net/cokkee/comker/api/ComkerAuthResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerCrewResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerDomainResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerExceptionMapper.java -text
software/src/main/java/net/cokkee/comker/api/ComkerMemberResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerNavbarResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerPermissionResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerRoleResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerSessionResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerSpotResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerUserResource.java -text
software/src/main/java/net/cokkee/comker/api/ComkerWatchdogResource.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerAuthResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerCrewResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerMemberResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerNavbarResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerPermissionResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerRoleResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerSessionResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerSpotResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerUserResourceImpl.java -text
software/src/main/java/net/cokkee/comker/api/impl/ComkerWatchdogResourceImpl.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerAbstractDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerAuditEntityDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerCrewDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerModuleDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerNavbarDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerPermissionDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerRoleDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerSettingDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerSpotDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerUserDao.java -text
software/src/main/java/net/cokkee/comker/dao/ComkerWatchdogDao.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerAbstractDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerAuditEntityDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerCrewDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerModuleDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerNavbarDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerPermissionDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerRoleDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerSettingDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerSpotDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerUserDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/dao/impl/ComkerWatchdogDaoHibernate.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerAbstractException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerAccessDatabaseException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerEntityProcessingException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerFieldDuplicatedException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerForbiddenAccessException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerIllegalAccessException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerInvalidParameterException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerObjectDuplicatedException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerObjectNotFoundException.java -text
software/src/main/java/net/cokkee/comker/exception/ComkerValidationFailedException.java -text
software/src/main/java/net/cokkee/comker/interceptor/ComkerWatchdogInterceptor.java -text
software/src/main/java/net/cokkee/comker/model/ComkerExceptionExtension.java -text
software/src/main/java/net/cokkee/comker/model/ComkerExceptionResponse.java -text
software/src/main/java/net/cokkee/comker/model/ComkerHashMap.java -text
software/src/main/java/net/cokkee/comker/model/ComkerObject.java -text
software/src/main/java/net/cokkee/comker/model/ComkerPager.java -text
software/src/main/java/net/cokkee/comker/model/ComkerSessionInfo.java -text
software/src/main/java/net/cokkee/comker/model/ComkerStatus.java -text
software/src/main/java/net/cokkee/comker/model/ComkerUserDetails.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerAbstractDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerCrewDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerNavNodeDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerNavNodeFormDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerNavNodeViewDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerPermissionDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerRoleDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerSpotDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerUserDTO.java -text
software/src/main/java/net/cokkee/comker/model/dto/ComkerWatchdogDTO.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAbstractItem.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAnswer.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditEntity.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditFieldBoolean.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditFieldDouble.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditFieldInteger.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditFieldString.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerAuditFieldTemporal.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrew.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinGlobalRole.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinGlobalRolePk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinRoleWithSpot.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerCrewJoinRoleWithSpotPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerModule.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerNavbarNode.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerPermission.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerQuestion.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRole.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRoleJoinPermission.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerRoleJoinPermissionPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingEntry.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingEntryPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSettingKey.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpot.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpotJoinModule.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerSpotJoinModulePk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUser.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUserJoinCrew.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerUserJoinCrewPk.java -text
software/src/main/java/net/cokkee/comker/model/po/ComkerWatchdog.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationEntryPoint.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationFailureHandler.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationHelper.java -text
software/src/main/java/net/cokkee/comker/security/web/authentication/ComkerAjaxAuthenticationSuccessHandler.java -text
software/src/main/java/net/cokkee/comker/service/ComkerInitializationService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerLocaleMessageService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerSecurityContextHolder.java -text
software/src/main/java/net/cokkee/comker/service/ComkerSecurityService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerSessionService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerToolboxService.java -text
software/src/main/java/net/cokkee/comker/service/ComkerUserDetailsService.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerInitializationCommonImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerInitializationSampleData.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerInitializationServiceImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerLocaleMessageServiceImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerSecurityContextHolderImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerSecurityServiceImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerSessionServiceImpl.java -text
software/src/main/java/net/cokkee/comker/service/impl/ComkerToolboxServiceImpl.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerCrewStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerNavbarStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerPermissionStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerRoleStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerSettingStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerSpotStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerUserStorage.java -text
software/src/main/java/net/cokkee/comker/storage/ComkerWatchdogStorage.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerAbstractStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerCrewStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerNavbarStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerPermissionStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerRoleStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerSettingStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerSpotStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerUserStorageImpl.java -text
software/src/main/java/net/cokkee/comker/storage/impl/ComkerWatchdogStorageImpl.java -text
software/src/main/java/net/cokkee/comker/structure/ComkerKeyAndValueSet.java -text
software/src/main/java/net/cokkee/comker/util/ComkerAddHeaderFilter.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBeanPostProcessor.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapEvent.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapInitializer.java -text
software/src/main/java/net/cokkee/comker/util/ComkerBootstrapPublisher.java -text
software/src/main/java/net/cokkee/comker/util/ComkerDataUtil.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerAbstractValidator.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerCrewValidator.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerPermissionValidator.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerRoleValidator.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerSpotValidator.java -text
software/src/main/java/net/cokkee/comker/validation/ComkerUserValidator.java -text
software/src/main/resources/META-INF/bootstrap/comker/api-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/cxf-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/dao-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/interceptor-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/manager-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/orm-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/resource-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/security-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/service-context.xml -text
software/src/main/resources/META-INF/bootstrap/comker/swagger-context.xml -text
software/src/main/resources/META-INF/web-fragment.xml -text
software/src/main/webapp/META-INF/MANIFEST.MF -text
software/src/main/webapp/META-INF/context.xml -text
software/src/main/webapp/WEB-INF/application-context.xml -text
software/src/main/webapp/WEB-INF/jdbc.properties -text
software/src/main/webapp/WEB-INF/log4j.properties -text
software/src/main/webapp/WEB-INF/log4j.xml -text
software/src/main/webapp/WEB-INF/web.xml -text
software/src/main/webapp/api/css/highlight.default.css -text
software/src/main/webapp/api/css/screen.css -text
software/src/main/webapp/api/images/logo_small.png -text
software/src/main/webapp/api/images/pet_store_api.png -text
software/src/main/webapp/api/images/throbber.gif -text
software/src/main/webapp/api/images/wordnik_api.png -text
software/src/main/webapp/api/index.html -text
software/src/main/webapp/api/lib/backbone-min.js -text
software/src/main/webapp/api/lib/handlebars-1.0.0.js -text
software/src/main/webapp/api/lib/highlight.7.3.pack.js -text
software/src/main/webapp/api/lib/jquery-1.8.0.min.js -text
software/src/main/webapp/api/lib/jquery.ba-bbq.min.js -text
software/src/main/webapp/api/lib/jquery.slideto.min.js -text
software/src/main/webapp/api/lib/jquery.wiggle.min.js -text
software/src/main/webapp/api/lib/shred.bundle.js -text
software/src/main/webapp/api/lib/shred/content.js -text
software/src/main/webapp/api/lib/swagger.js -text
software/src/main/webapp/api/lib/underscore-min.js -text
software/src/main/webapp/api/swagger-ui.js -text
software/src/main/webapp/api/swagger-ui.min.js -text
software/src/main/webapp/comker/login.jsp -text
software/src/test/java/net/cokkee/comker/api/ComkerCrewResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerMemberResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerNavbarResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerRoleResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerSessionResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerSpotResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/api/ComkerUserResourceUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerAbstractDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerCrewDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerModuleDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerNavbarDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerPermissionDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerRoleDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerSettingDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerSpotDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerUserDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/dao/ComkerWatchdogDaoUnitTest.java -text
software/src/test/java/net/cokkee/comker/service/ComkerLocaleMessageServiceUnitTest.java -text
software/src/test/java/net/cokkee/comker/service/ComkerSecurityServiceUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerCrewStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerNavbarStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerRoleStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerSettingStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerSpotStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/storage/ComkerUserStorageUnitTest.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerAbstractScenario.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerAbstractScenario.xml -text
software/src/test/java/net/cokkee/comker/stories/ComkerAllOfStories.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerAllOfStories.xml -text
software/src/test/java/net/cokkee/comker/stories/ComkerExampleScenario.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerExampleScenario.xml -text
software/src/test/java/net/cokkee/comker/stories/ComkerManageRoleScenario.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerManageRoleScenario.xml -text
software/src/test/java/net/cokkee/comker/stories/ComkerRestAssuredConfig.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerSessionScenario.java -text
software/src/test/java/net/cokkee/comker/stories/ComkerSessionScenario.xml -text
software/src/test/java/net/cokkee/comker/stories/steps/ComkerExampleSteps.java -text
software/src/test/java/net/cokkee/comker/stories/steps/ComkerManageRoleSteps.java -text
software/src/test/java/net/cokkee/comker/stories/steps/ComkerSessionSteps.java -text
software/src/test/java/net/cokkee/comker/stories/test.properties -text
software/src/test/java/net/cokkee/comker/validation/ComkerCrewValidatorUnitTest.java -text
software/src/test/java/net/cokkee/comker/validation/ComkerPermissionValidatorUnitTest.java -text
software/src/test/java/net/cokkee/comker/validation/ComkerRoleValidatorUnitTest.java -text
software/src/test/java/net/cokkee/comker/validation/ComkerSpotValidatorUnitTest.java -text
software/src/test/java/net/cokkee/comker/validation/ComkerUserValidatorUnitTest.java -text
software/src/test/resources/api/ComkerCrewResourceUnitTest.xml -text
software/src/test/resources/api/ComkerMemberResourceUnitTest.xml -text
software/src/test/resources/api/ComkerNavbarResourceUnitTest.xml -text
software/src/test/resources/api/ComkerPermissionResourceUnitTest.xml -text
software/src/test/resources/api/ComkerRoleResourceUnitTest.xml -text
software/src/test/resources/api/ComkerSessionResourceUnitTest.xml -text
software/src/test/resources/api/ComkerSpotResourceUnitTest.xml -text
software/src/test/resources/api/ComkerUserResourceUnitTest.xml -text
software/src/test/resources/api/applicationContext-UnitTest.xml -text
software/src/test/resources/api/test.properties -text
software/src/test/resources/dao/ComkerCrewDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerModuleDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerNavbarDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerPermissionDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerRoleDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerSettingDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerSpotDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerUserDaoUnitTest.xml -text
software/src/test/resources/dao/ComkerWatchdogDaoUnitTest.xml -text
software/src/test/resources/dao/applicationContext-UnitTest.xml -text
software/src/test/resources/net/cokkee/comker/stories/ComkerExampleScenario.story -text
software/src/test/resources/net/cokkee/comker/stories/ComkerManageRoleScenario.story -text
software/src/test/resources/net/cokkee/comker/stories/ComkerSessionScenario.story -text
software/src/test/resources/service/ComkerLocaleMessageServiceUnitTest.xml -text
software/src/test/resources/service/messages.properties -text
software/src/test/resources/service/messages_en_US.properties -text
software/src/test/resources/service/messages_vi_VN.properties -text
