<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:cxf="http://cxf.apache.org/core"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-http-jetty.xml" />

    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/api/test.properties" />
	</bean>

    <bean id="comkerExceptionMapper"
            class="net.cokkee.comker.api.ComkerExceptionMapper">
        <property name="localeMessageService" ref="comkerLocaleMessageService" />
    </bean>

    <bean id="comkerJaxbProvider"
            class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
    </bean>

    <bean id="comkerJsonProvider"
            class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
        <property name="dropRootElement" value="true"/>
        <property name="dropCollectionWrapperElement" value="true" />
        <property name="supportUnwrapped" value="true"/>
        <property name="serializeAsArray" value="true"/>
        <property name="arrayKeys" ref="comkerJsonKeys"/>
        <property name="produceMediaTypes" ref="comkerJsonTypes"/>
        <property name="consumeMediaTypes" ref="comkerJsonTypes"/>
    </bean>

    <util:list id="comkerJsonKeys">
        <value>permissions</value>
        <value>permissionIds</value>
        <value>children</value>
        <value>valueSet</value>
        <value>idsOfCrewList</value>
        <value>idsOfGlobalDemoList</value>
        <value>idsOfSpotWithDemoList</value>
    </util:list>

    <util:list id="comkerJsonTypes">
        <value>application/json</value>
    </util:list>

    <bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	
	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="logInbound" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="logOutbound" />
		</cxf:outInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="logOutbound" />
		</cxf:inFaultInterceptors>
	</cxf:bus>

    <bean id="comkerLocaleMessageService"
            class="net.cokkee.comker.service.impl.ComkerLocaleMessageServiceImpl">
        <property name="messageSource" ref="comkerMessageSource"/>
    </bean>

    <bean id="comkerMessageSource"
            class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>messages</value>
        </property>
    </bean>
</beans>
