/* 
    Document   : screen
    Created on : Dec 24, 2013, 3:07:48 PM
    Author     : drupalex
    Description:
        Purpose of the stylesheet follows.
*/

.login-panel {
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 150px;
    padding: 10px;
    padding-top: 20px;
    width: 500px;
    border: #777777 solid 1px;
}