/* 
    Document   : screen
    Created on : Dec 24, 2013, 3:07:48 PM
    Author     : drupalex
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: #eee;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

#page {
    width: 980px;
    margin: 0 auto;
    padding: 0 40px 35px;
    background: white;
    moz-box-shadow: 3px 0 20px #000;
    -webkit-box-shadow: 3px 0 20px #000;
    box-shadow: 3px 0 20px #000;
    margin-bottom: 50px;
}

#page #header {
    padding-top: 40px;
}

#page #header h1 {
    color: #2b81af;
}

#page #content {
    display: inline-table;
    width: 100%;
}

/*
 *
 */

div.panelToggle {
}

div.panelToggle div.panelToolbar {
    -moz-border-radius: 4px 4px 4px 4px;
    background: repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
    display: block;
    height: 30px;
}

div.panelToggle div.panelToolbar ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.panelToggle div.panelToolbar ul li {
    display: inline;
}

div.panelToggle div.panelToolbar ul li button {
    float: left;
    margin: 3px;
    margin-right: 4px;
    min-width: 30px;
}

div.panelToggle div.panelToolbar div#status,
div.panelToggle div.panelToolbar div#message {
    display: inline;
}

div.panelToggle div.panelToolbar div#pagination {
    float: right;
    margin: 0;
    padding: 0;
}

div.panelToggle div.panelDialog {
    display: none;
    background-color: #EAEAEA;
    border: 1px dashed silver;
}

div.panelToggle div.panelMessage {
}

div.panelToggle div.panelMessage .alert {
    margin-bottom: 0px;
}

div.panelToggle div.panelContent {
    position: relative;
    min-height: 50px;
    background-color: #EAEAEA;
    padding: 10px;
    padding-top: 20px;
}

div.panelToggle div.panelContent form {
    margin-bottom: 0px;
}
