/**
 * Style for a role
 */

.role-container {
    outline: 1px solid #aaa;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.role-overview {
    height: 110px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
}

.role-overview img {
    float: left;
    margin: 10px;
    width: 85px;
}

.role-overview ul {
    position: relative;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.role-overview .role-button {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    right: 10px;
    bottom: 0;
}

.role-overview .roleitem-title {
    font-weight: bold;
}

.role-overview .roleitem-keywords {
    font-style: italic;
}

.role-dialog {
    display: none;
    border-top: 1px dashed silver;
}

.role-dialog .role-message {
}

.role-dialog .role-message .alert {
    margin-bottom: 0px;
}

.role-dialog .role-content {
    margin-bottom: 5px;
    background-color: #EAEAEA;
    padding: 10px;
    padding-top: 20px;
}

.role-dialog .role-content form {
    margin: 0;
}

/**
 * Add a new role Form
 */

 .role-x-form ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.role-x-form ul li {
    display: inline;
}

/*
.role-x-form button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}
*/
.role-x-form div {
}

.role-x-form div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
