/**
 * Style for a spot
 */

.spot-container {
    outline: 1px solid #aaa;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.spot-overview {
    height: 110px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
}

.spot-overview img {
    float: left;
    margin: 10px;
    width: 85px;
}

.spot-overview ul {
    position: relative;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.spot-overview .spot-button {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    right: 10px;
    bottom: 0;
}

.spot-overview .item-label {
    font-style: italic;
}

.spot-dialog {
    display: none;
    border-top: 1px dashed silver;
}

.spot-dialog .spot-message {
}

.spot-dialog .spot-message .alert {
    margin-bottom: 0px;
}

.spot-dialog .spot-content {
    margin-bottom: 5px;
    background-color: #EAEAEA;
    padding: 10px;
    padding-top: 20px;
}

.spot-dialog .spot-content form {
    margin: 0;
}

/**
 * Add a new spot Form
 */

 .spot-x-form ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.spot-x-form ul li {
    display: inline;
}

/*
.spot-x-form button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}
*/
.spot-x-form div {
}

.spot-x-form div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
