/**
 * Style for a user
 */

.user-container {
    outline: 1px solid #aaa;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-overview {
    height: 130px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
}

.user-overview img {
    float: left;
    margin: 10px;
    width: 85px;
}

.user-overview ul {
    position: relative;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.user-overview .user-button {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    right: 10px;
    bottom: 0;
}

.user-overview .useritem-title {
    font-weight: bold;
}

.user-overview .useritem-keywords {
    font-style: italic;
}

.user-dialog {
    display: none;
    border-top: 1px dashed silver;
}

.user-dialog .user-message {
}

.user-dialog .user-message .alert {
    margin-bottom: 0px;
}

.user-dialog .user-content {
    margin-bottom: 5px;
    background-color: #EAEAEA;
    padding: 10px;
    padding-top: 20px;
}

.user-dialog .user-content form {
    margin: 0;
}

/**
 * Add a new user Form
 */

 .user-x-form ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.user-x-form ul li {
    display: inline;
}

/*
.user-x-form button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}
*/
.user-x-form div {
}

.user-x-form div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
